@import 'tailwindcss';

/* tokens */
@import './styles/tokens/color.css';
@import './styles/tokens/fonts.css';
@import './styles/tokens/radius.css';
@import './styles/tokens/spacing.css';
@import './styles/tokens/scale.css';
@import './styles/tokens/frame.css';

/* component-level tokens */
@import './styles/components/variants.css';
@import './styles/components/interaction.css';
@import './styles/components/layout.css';
@import './styles/components/state.css';

/* composed theme */
@import './styles/theme/light.css';
@import './styles/theme/dark.css';

@layer utilities {
  .font-hero {
    font-family: var(--font-hero);
  }
  .font-interface {
    font-family: var(--font-interface);
  }

  @media (min-width: 640px) {
    .sm\:typo-body-key {
      @apply text-body font-200 leading-6 tracking-tight;
    }
  }

  @media (min-width: 640px) {
    .sm\:typo-title-strong {
      @apply text-title font-300 leading-8 tracking-tight;
    }
  }
}

html,
body {
  height: 100dvh; /* 뷰포트 단위 높이 확보 */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  font-family: var(--font-interface);
  overscroll-behavior: none;
}

body {
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed; /* 비활성화 상태에서는 막힌 커서 */
}

.danger input {
  caret-color: var(--color-light-full);
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
