@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100dvh; /* 뷰포트 단위 높이 확보 */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard-jp);
}

body {
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed; /* 비활성화 상태에서는 막힌 커서 */
}
