@layer utilities {
  .dark {
    /* ---------- Background ---------- */
    --bg-base: var(--color-charcoal-full);
    --bg-alternative: var(--color-black-full);
    --bg-surface: var(--color-slate-surface);
    --bg-peak: var(--color-white-full);
    --bg-static: rgb(255 255 255 / 0.04); /* #FFFFFF @ 4% */

    --bg-data-surface: var(--color-dark-surface); /* #00AD65 @ 10% */
    --bg-data-peak: var(--color-dark-full);

    --bg-accent-surface: var(--color-primary-surface); /* #287AF5 @ 10% */
    --bg-accent-peak: var(--color-primary-full);

    /* ---------- Background / Interaction ---------- */
    --bg-interaction-surface: var(--color-interaction-surface);
    --bg-interaction-peak: var(--color-interaction-peak);
    --bg-interaction-data: var(--color-interaction-data);
    --bg-interaction-accent: var(--color-interaction-accent);

    /* ---------- Foreground ---------- */
    --fg-base: var(--color-white-full);
    --fg-additive: var(--color-white-additive); /* #F0F2F4 @ 72% */
    --fg-optional: var(--color-white-optional); /* #F0F2F4 @ 48% */
    --fg-inactive: var(--color-white-inactive); /* #F0F2F4 @ 36% */
    --fg-peak: var(--color-charcoal-full);
    --fg-static: var(--color-black-full);

    --fg-data-base: var(--color-dark-full);
    --fg-data-peak: var(--color-dark-peak);

    --fg-accent-base: var(--color-primary-full);
    --fg-accent-peak: var(--color-primary-peak);

    /* ---------- Stroke ---------- */
    --stroke-outline: var(--color-slate-outline);
    --stroke-peak: var(--color-white-full);
    --stroke-selected: var(--color-white-selected); /* #F0F2F4 @ 56% */
    --stroke-ring: var(--color-slate-ring); /* #969FAE @ 28% */

    --stroke-data-outline: var(--color-dark-outline); /* #00BD75 @ 20% */
    --stroke-data-selected: var(--color-dark-full);
  }

  /* ---------- Background ---------- */
  .dark .bg-base {
    background-color: var(--color-charcoal-full);
  }

  .dark .bg-alternative {
    background-color: var(--color-black-full);
  }

  .dark .bg-surface {
    background-color: var(--color-slate-surface);
  }

  .dark .bg-peak {
    background-color: var(--color-white-full);
  }

  .dark .bg-static {
    background-color: rgb(255 255 255 / 0.04);
  }

  .dark .bg-data-surface {
    background-color: var(--color-dark-surface);
  }

  .dark .bg-data-peak {
    background-color: var(--color-dark-full);
  }

  .dark .bg-accent-surface {
    background-color: var(--color-primary-surface);
  }

  .dark .bg-accent-peak {
    background-color: var(--color-primary-full);
  }

  /* ---------- Background / Interaction ---------- */
  .dark .hover\:bg-base:hover {
    background-color: var(--color-interaction-surface);
  }

  .dark .hover\:bg-surface:hover {
    background-color: var(--color-interaction-surface);
  }

  .dark .hover\:bg-peak:hover {
    background-color: var(--color-interaction-peak);
  }

  .dark .hover\:bg-data-surface:hover {
    background-color: var(--color-interaction-data);
  }

  .dark .hover\:bg-data-peak:hover {
    background-color: var(--color-interaction-data);
  }

  .dark .hover\:bg-accent-surface:hover {
    background-color: var(--color-interaction-accent);
  }

  .dark .hover\:bg-accent-peak:hover {
    background-color: var(--color-interaction-accent);
  }

  .dark .disabled\:bg-base:disabled,
  .dark .disabled\:bg-base[aria-disabled='true'] {
    background-color: var(--color-slate-surface);
  }

  .dark .disabled\:bg-surface:disabled,
  .dark .disabled\:bg-surface[aria-disabled='true'] {
    background-color: var(--color-slate-surface);
  }

  .dark .disabled\:bg-peak:disabled,
  .dark .disabled\:bg-peak[aria-disabled='true'] {
    background-color: var(--color-slate-surface);
  }

  .dark .disabled\:bg-data-surface:disabled,
  .dark .disabled\:bg-data-surface[aria-disabled='true'] {
    background-color: var(--color-slate-surface);
  }

  .dark .disabled\:bg-accent-surface:disabled,
  .dark .disabled\:bg-accent-surface[aria-disabled='true'] {
    background-color: var(--color-slate-surface);
  }

  /* ---------- Foreground ---------- */
  .dark .text-base {
    color: var(--color-white-full);
  }

  .dark .text-additive {
    color: var(--color-white-additive);
  }

  .dark .text-optional {
    color: var(--color-white-optional);
  }

  .dark .text-inactive {
    color: var(--color-white-inactive);
  }

  .dark .text-peak {
    color: var(--color-charcoal-full);
  }

  .dark .text-static {
    color: var(--color-black-full);
  }

  .dark .text-data-base {
    color: var(--color-dark-full);
  }

  .dark .text-data-peak {
    color: var(--color-dark-peak);
  }

  .dark .text-accent-base {
    color: var(--color-primary-full);
  }

  .dark .text-accent-peak {
    color: var(--color-primary-peak);
  }

  .dark .hover\:text-base:hover {
    color: var(--color-white-full);
  }

  .dark .hover\:text-additive:hover {
    color: var(--color-white-additive);
  }

  .dark .hover\:text-optional:hover {
    color: var(--color-white-optional);
  }

  .dark .hover\:text-peak:hover {
    color: var(--color-charcoal-full);
  }

  .dark .hover\:text-data-base:hover {
    color: var(--color-dark-full);
  }

  .dark .hover\:text-accent-base:hover {
    color: var(--color-primary-full);
  }

  .dark .disabled\:text-base:disabled,
  .dark .disabled\:text-base[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  .dark .disabled\:text-additive:disabled,
  .dark .disabled\:text-additive[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  .dark .disabled\:text-optional:disabled,
  .dark .disabled\:text-optional[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  .dark .disabled\:text-peak:disabled,
  .dark .disabled\:text-peak[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  .dark .disabled\:text-data-base:disabled,
  .dark .disabled\:text-data-base[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  .dark .disabled\:text-accent-base:disabled,
  .dark .disabled\:text-accent-base[aria-disabled='true'] {
    color: var(--color-white-inactive);
  }

  /* ---------- Stroke ---------- */
  .dark .border-outline {
    border-color: var(--color-slate-outline);
  }

  .dark .border-peak {
    border-color: var(--color-white-full);
  }

  .dark .border-selected {
    border-color: var(--color-white-selected);
  }

  .dark .border-ring {
    border-color: var(--color-slate-ring);
  }

  .dark .border-data-outline {
    border-color: var(--color-dark-outline);
  }

  .dark .border-data-selected {
    border-color: var(--color-dark-full);
  }

  .dark .hover\:border-outline:hover {
    border-color: var(--color-white-selected);
  }

  .dark .hover\:border-peak:hover {
    border-color: var(--color-white-full);
  }

  .dark .hover\:border-selected:hover {
    border-color: var(--color-white-selected);
  }

  .dark .hover\:border-ring:hover {
    border-color: var(--color-slate-ring);
  }

  .dark .hover\:border-data-outline:hover {
    border-color: var(--color-dark-full);
  }

  .dark .disabled\:border-outline:disabled,
  .dark .disabled\:border-outline[aria-disabled='true'] {
    border-color: var(--color-slate-outline);
  }

  .dark .disabled\:border-peak:disabled,
  .dark .disabled\:border-peak[aria-disabled='true'] {
    border-color: var(--color-slate-outline);
  }

  .dark .disabled\:border-selected:disabled,
  .dark .disabled\:border-selected[aria-disabled='true'] {
    border-color: var(--color-slate-outline);
  }

  .dark .disabled\:border-ring:disabled,
  .dark .disabled\:border-ring[aria-disabled='true'] {
    border-color: var(--color-slate-outline);
  }

  .dark .disabled\:border-data-outline:disabled,
  .dark .disabled\:border-data-outline[aria-disabled='true'] {
    border-color: var(--color-slate-outline);
  }
}
